:root {
	--primary-font: 'Raleway', sans-serif;
	--bg-color: #fff;
	--bx-shadow: 0px 1px 2px #ddd;
}

body {
	font-family: var(--primary-font);
	background-color: #f2f2f2;
}

nav {
	background-color: var(--bg-color);
	box-shadow: var(--bx-shadow);
	position: fixed;
	top: 0;
	left: 0;
	width: 100px;
	height: 100%;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
}

.content {
	margin-left: 180px;
	margin-top: 30px;
	margin-right: 20px;
}

.top-bar {
	display: flex;
	justify-content: space-between;
}

form input {
	font-family: var(--primary-font);
	border: 0;
	height: 30px;
	padding: 5px 15px;
	border-radius: 30px;
	box-shadow: var(--bx-shadow);
	outline: none;
	width: 450px;
	display: block;
}

ul {
	padding-left: 0;
}

.mail {
	background-color: var(--bg-color);
	list-style-type: none;
	margin: 0;
	margin-bottom: 15px;
	padding: 10px 15px;
	box-shadow: var(--bx-shadow);
	border-radius: 5px;
}

.mail-content {
	margin: 5px 0 0 0;
	color: #aaa;
}

.email {
	color: #674dd4;
}

.button {
	font-size: 14px;
	transition: background-color 0.5s ease;
	background-color: #674dd4;
	color: var(--bg-color);
	align-self: center;
	padding: 10px 15px;
	border-radius: 30px;
	text-decoration: none;
	border: none;
	cursor: pointer;
}

.button:hover {
	background-color: #7b62e3;
}

hr {
	border-top: none;
	height: 1px;
	background-color: #eee;
}

textarea {
	font-family: var(--primary-font);
	border: 0;
	height: 250px;
	padding: 10px 15px;
	border-radius: 30px;
	box-shadow: var(--bx-shadow);
	resize: none;
	width: 450px;
	display: block;
	outline: none;
}

.form-group {
	margin-bottom: 15px;
}

form label {
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 10px;
}

.flash {
	background-color: red;
	color: white;
	padding: 10px 15px;
	border-radius: 5px;
	border: solid 1px rgba(0, 0, 0, 0.1);
	margin: 10px 0;
}
